<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Agregar Ingreso / Egreso</h4>
                <!--
                <p class="card-description">
                    Especifique el monto y el tipo
                </p>
                -->

                <form>

                    <div class="form-group">
                        <label>Descripción</label>
                        <input type="text" maxlength="50" class="form-control" placeholder="Descripción" name="descripcion" id="transaccion-descripcion" [(ngModel)]="description" (ngModelChange)="changeTransaction()">
                    </div>

                    <div class="form-group">
                        <label>Monto</label>
                        <input type="number" class="form-control" placeholder="0.00" name="monto" id="transaccion-monto" [(ngModel)]="amount" (ngModelChange)="changeTransaction()" appTwoDigitDecimalNumber>
                    </div>

                    <div class="form-group">
                        <label>Categoria</label>
                        <select type="text" maxlength="50" class="form-control" placeholder="Categoría" name="categoria" id="transaccion-categoria" [(ngModel)]="categoria" (ngModelChange)="changeTransaction()">
                            <option *ngFor="let categoria of categorias;" value="{{categoria.id}}">{{ categoria.name }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Tipo</label>
                        <br>
                        <select name="tipotransaccion" id="transaccion-tipo" class="form-control" [(ngModel)]="tipo" (ngModelChange)="changeTransaction()">
                            <option *ngFor="let type of transactionType;" value="{{type}}">{{ type }}</option>
                        </select>
                    </div>


                    <hr>
                    <button (click)="saveTransaccion()" type="button" class="btn btn-success mr-2">
                <i class="fa fa-save"></i>
                Agregar
              </button>

                    <!-- 
                <button disabled class="btn btn-success mr-2">
                  <i class="fa fa-spin fa-sync"></i>
                  Espere por favor...
                </button> 
              -->

                    <button type="reset" class="btn btn-light">Cancelar</button>

                </form>
            </div>
        </div>
    </div>
</div>