<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Agregar Meta de Ahorro</h4>
              <form>

                  <div class="form-group">
                      <label>Cantidad de Ahorro Mensual</label>
                      <input type="number" class="form-control" placeholder="0.00" name="monto" id="ahorro_cantidad" [(ngModel)]="ahorro_cantidad" (ngModelChange)="changeAhorro()" appTwoDigitDecimalNumber>
                  </div>

                  <div class="form-group">
                    <label>Descripción</label>
                    <input type="text" maxlength="50" class="form-control" placeholder="Descripción" name="descripcion" id="ahorro_descripcion" [(ngModel)]="ahorro_description" (ngModelChange)="changeAhorro()">
                  </div>
                  
                  <hr>
                  <button (click)="saveAhorroMensual()" type="button" class="btn btn-success mr-2">
              <i class="fa fa-save"></i>
              Agregar
            </button>

                  <!-- 
              <button disabled class="btn btn-success mr-2">
                <i class="fa fa-spin fa-sync"></i>
                Espere por favor...
              </button> 
            -->

                  <button type="reset" class="btn btn-light">Cancelar</button>

              </form>
              <hr>
              <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Descripción</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let meta of metas">
                        <td>{{categoria.name}}</td>
                        <td>{{categoria.description}}</td>
                        <td>Modificar</td>
                        <td>Eliminar</td>
                     </tr>
                </tbody>

            </table>
          </div>
      </div>
  </div>
</div>