<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Agregar Meta de Ahorro</h4>
              <form>

                  <div class="form-group">
                      <label>Cantidad de Ahorro Mensual</label>
                      <input type="number" class="form-control" placeholder="0.00" name="monto" id="ahorro_cantidad" [(ngModel)]="ahorro_cantidad" (ngModelChange)="changeAhorro()" appTwoDigitDecimalNumber>
                  </div>

                  <div class="form-group">
                    <label>Descripción</label>
                    <input type="text" maxlength="50" class="form-control" placeholder="Descripción" name="descripcion" id="ahorro_descripcion" [(ngModel)]="ahorro_descripcion" (ngModelChange)="changeAhorro()">
                  </div>

                  <div class="form-group">
                    <label>Fecha de Inicio</label>
                    <input type="date" maxlength="50" class="form-control" placeholder="Fecha de Inicio" name="fecha_inicio" id="ahorro_fecha_inicio" [(ngModel)]="ahorro_fecha_inicio" (ngModelChange)="changeAhorro()">
                  </div>

                  <div class="form-group">
                    <label>Fecha de Fin</label>
                    <input type="date" maxlength="50" class="form-control" placeholder="Fecha de Fin" name="fecha_fin" id="ahorro_fecha_fin" [(ngModel)]="ahorro_fecha_fin" (ngModelChange)="changeAhorro()">
                  </div>
                  
                  <hr>
                  <button (click)="saveAhorroMensual()" type="button" class="btn btn-success mr-2">
              <i class="fa fa-save"></i>
              Agregar
            </button>

                  <!-- 
              <button disabled class="btn btn-success mr-2">
                <i class="fa fa-spin fa-sync"></i>
                Espere por favor...
              </button> 
            -->

                  <button type="reset" class="btn btn-light">Cancelar</button>

              </form>
              <hr>
              <table class="table">
                <thead>
                    <tr>
                        <th>Monto</th>
                        <th>Descripción</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Fin</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let meta of metas">
                        <td>{{meta.amount}}</td>
                        <td>{{meta.description}}</td>
                        <td>{{meta.startDate | date : 'dd-MM-yyyy'}}</td>
                        <td>{{meta.expirationDate | date : 'dd-MM-yyyy'}}</td>
                     </tr>
                </tbody>

            </table>
          </div>
      </div>
  </div>
</div>